# Environment variables
.env

# Python cache
_pycache_/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Logs
*.log
logs/

# Data (do not upload)
data/
backup/
reports/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
